{% comment %} Width of results box {% endcomment %}
{% assign results_box_width = '100%' %}
{% comment %} Background color of results box {% endcomment %}
{% assign results_box_background_color = '#ffffff' %}
{% comment %} Border color of results box {% endcomment %}
{% assign results_box_border_color = '#d4d4d4' %}

<script>
$(function() {
  // Current Ajax request.
  var currentAjaxRequest = null;
  // Grabbing all search forms on the page, and adding a .search-results list to each.
  var searchForms = $('form[action="/search"]').css('position','relative').each(function() {
    // Grabbing text input.
    var input = $(this).find('input[name="q"]');
    // Adding a list for showing search results.
    var offSet = input.position().top + input.innerHeight();
    $('<div class="container engoj-wrapper-result"><div class="row engoc-row-equal search-results"></div></div>').css( { 'position': 'absolute', 'left': '0px', 'top': offSet } ).appendTo($(this)).hide();    
    // Listening to keyup and change on the text field within these search forms.
    input.attr('autocomplete', 'off').bind('keyup change', function() {
      // What's the search term?
      var term = $(this).val();
      // What's the search form?
      var form = $(this).closest('form');
      // What's the search URL?
      var searchURL = '/search?type=product&q=' + term;
      // What's the search results list?
      var resultsList = form.find('.search-results');
      $(".engoj-search-loading").addClass('engoc-search-loading');
      // If that's a new term and it contains at least 3 characters.
      //if (term.length > 3 && term != $(this).attr('data-old-term')) {
        // Saving old query.
        //$(this).attr('data-old-term', term);
        // Killing any Ajax request that's currently being processed.
        if (currentAjaxRequest != null) currentAjaxRequest.abort();
        // Pulling results.
        currentAjaxRequest = $.getJSON(searchURL + '&view=json', function(data) {
          setTimeout(function() {
            $(".engoj-search-loading").removeClass('engoc-search-loading');   
          }, 300);
          // Reset results.
          resultsList.empty();
          // If we have no results.
          if(data.results_count == 0) {
            $('.engoj-wrapper-result').show();
            resultsList.html('<div class="col-md-12"><p class="text-center" style="margin: 10px 0;">No product found by your keyword.</p></div>');
            resultsList.fadeIn(200);
            //resultsList.hide();
          } else {
            // If we have results.
            $(".engoj-ajax-search").animate( {'top':'0%'}, 700);
            $('.engoj-wrapper-result').show();
            $.each(data.results, function(index, item) {
              var link = $('<a></a>').attr('href', item.url);
              link.append('<div class="item-search"><img class="img-responsive" src="' + item.thumbnail + '" /></div>');
              link.append('<h3 class="title-search">' + item.title + '</h3>');
              link.append('<p class="price-search"><del>' + item.price_regular + '</del><ins>' + item.price + '</ins></p>');
              link.wrap('<div class="col-md-3 col-sm-4 col-xs-12"></div>');
              resultsList.append(link.parent());
            });
            // The Ajax request will return at the most 8 results.
            // If there are more than 8, let's link to the search results page.
            //if(data.results_count > 8) {
            //  resultsList.append('<div class="col-md-12"><p><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></p></div>');
            //}
            resultsList.fadeIn(200);
          }        
        });
      //}
    });
  });
  // Clicking outside makes the results disappear.
  $('body').bind('click', function(){
    $('.engoj-wrapper-result').hide();
    $(".engoj-search-loading").removeClass('engoc-search-loading');
  });
});
</script>
